* {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Serif", serif;
}
.navbar {
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.product {
  justify-content: center;
  width: 100px;
  align-items: center;
  max-width: 18rem;
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.product .card-title {
  font-size: 17px;
  max-width: 15rem;
}
.input-group {
  width: 60%;
  align-items: center;
}
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}
